<div id="partial">
    <span id="close">&times;</span>
    <div id="contact">
        <h3 class="title">Contact me</h3>
        <ul>
            <li><strong>Office:</strong>#732, 7th floor, staircase A.</li>
            <li><strong>Address:</strong>Dipartimento di Matematica, via Trieste 63, 35121 Padova, Italy.</li>
        </ul>

        <div class="social-media">
            <a target="_blank" href="https://www.facebook.com/">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
            <a target="_blank" href="https://in.linkedin.com/">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
            <a href="mailto:someone@example.unipd.it">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
        </div>
    </div>
</div>